
@media screen and (max-width: 1000px){
    header{
        padding: 0; 
    }
    header .right-header{
        padding: 1rem !important;
    }
    .theme-btn{
        width: 35px;
        height: 35px;
    }
    .header-content{
        grid-template-columns: 1fr !important;
   
        .left-header{
            width: 100%;
            position: relative;
            top: -70%;
            .h-shape{
                height: 340px !important;
                bottom: -500px !important;
            }
        }
        .right-header{
            position: relative;
            top: -7%;
            grid-row: 1;
            width: 90%;
            margin: 0 auto;
            .name{
                font-size: 1.7em !important;
            }
        }
        .header-content .left-header .image{
            margin: 0 auto;
            width: 90%;
            height: 100% !important;
            width: 90% !important;
        }
    }    
    .about-container{
        grid-template-columns: 1fr !important;
        
        .right-about{
            margin: 2% 2% 0 0;

        }
        .left-about{
            padding-left: 0 !important;
            p{
                padding-left: 0 !important;
            }
        }
    }
    section{
        position: relative !important;
        padding: 2rem 2.5rem !important;
    }
    .blogs{
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem !important;
    }
    .portfolios{
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem !important;
    }
    .main-title{
        h2{
            font-size: 2.3rem !important;
            span{
                font-size: 2.3rem !important;
            }
            .bg-text{
                font-size: 2.7rem !important;
            }
        }
    }
    .controls{
        position: fixed !important;
        top: auto !important;
        bottom: 0 !important;
        flex-direction: row !important;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%) !important;
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: .5rem .2rem !important;
        }
    }
    .right-bottom {
        padding-top: 20% !important;
    }
}
@media screen and (max-width: 1230px) {
    .contact-content-con{
        padding-bottom: 4rem;
        flex-direction: column !important;
        .right-contact{
            margin-left: 0 !important;
            margin-top: 0 !important;
            width: 100% !important;
        }
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 1100px) {
    .portfolios{
        grid-template-columns: repeat(2, 1fr) !important;
        padding-bottom: 6rem !important;
        padding: 0 0 !important;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr) !important;
        padding-bottom: 6rem !important;
    }
}
